body {
  background-color: #EEEEEE;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  border-color: #00ADB5;

}

h1{
  color: #222831;
}
h3{
  color: #222831;
}

.borderexample {
 border-width: thin;
 border-style:solid;
 border-color:#393E46;
}
